Simple Chatty Bot/Chatty Bot welcomes you
Simple Chatty Bot/Guess the age
Simple Chatty Bot/Learning numbers
Simple Chatty Bot/Multiple Choice
Simple Chatty Bot/Print your name
Simple Chatty Bot/task/tests.py
Simple Chatty Bot/lesson-info.yaml